/* 
Sleepy Starfish | Roshani Shrestha, Yuqing Wu, Angela Zhang, Hebe Huang
SoftDev Pd2
P04 -- Project Iris | style.css 
2022-05-24
*/

div.nameOfPage {
    color: blue;
    font-style: italic;
    text-align: center;
    margin-top: 40px;
}

div.noteArea {
    padding-left: 10px;
}