
<!-- Sleepy Starfish | Roshani Shrestha, Yuqing Wu, Angela Zhang, Hebe Huang
SoftDev Pd2
P04 -- Project Iris | Home Page
2022-05-24
-->

<!DOCTYPE html>
<html>
  <head>
    <title> Canvas </title>
    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
  </head>

  <body>
    <form action="send" method='GET'>
      <input type="text" name="person">
      <script src="../static/js/canvas.js"></script>
      <input type="text" name="message">
      <input type="submit" name="submitnote">
    </form>
  </body>
</html>
