
<!-- Sleepy Starfish | Roshani Shrestha, Yuqing Wu, Angela Zhang, Hebe Huang
SoftDev Pd2
P04 -- Project Iris | Home Page
2022-05-24
-->

<!DOCTYPE html>
<html>
  <head>
    <title> Canvas </title>
    <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>

    <!-- Don't use this in production: -->
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css">
  </head>

  <body>
    {{error}}

    <form id="data" method='GET'>
      <canvas id="can" width="500" height="500">
        <!-- onclick="blah()" -->
        ...
      </canvas>
      <br>
      To: <input type="text" name="person" id="person">
      <br><br>
      Message: <br>
      <textarea name="message" id="message"></textarea>
      <br><br>
      <button type="button" id="finishedNote">Submit</button>
      <!-- type="button" is necessary so this button doesn't submit the form 
      this button will trigger js to make and submit another form -->
    </form>

    <p id="testing"></p>
    <script src="../static/js/canvas.js"></script>

  </body>
</html>
